* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  background-color: #f2e9e1;
  margin-block: 0;
  padding-block: 0;
  overflow-x: hidden;

  /* font-family: Times, serif; */
  /* font-optical-sizing: auto; */
}
/* nav */
nav {
  position: absolute;
  top: 10px;
  left: 0;
  height: 30px;
  padding: 30px;
  width: 100vw;
  margin-inline: auto;
}

.nav-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  width: 100%;
  /* gap: 50px; */
  align-items: center;
  padding-inline: 20px;
}
/* hero */

.hero {
  padding: 60px 30px 20px;
  height: 100vh;
  background-image: url(images/mobile-bg.png);
  background-size: cover;
  color: white;
}
.hero-container {
  margin-top: 50px;
  overflow: hidden;
}

.hero-right h2 {
  font-size: 25px;
  /* letter-spacing: -1.1px; */
  font-weight: 300;
  margin-bottom: 10px;
}
.hero-right h1 {
  font-size: 40px;
  /* letter-spacing: -1.1px; */
  font-weight: 600;
  margin-bottom: 10px;
  /* width: 250px; */
}

.hero-right p {
  font-size: 16px;
  /* letter-spacing: -1.1px; */
  font-weight: normal;
  margin-bottom: 40px;
  line-height: 1.7;
}
.hero-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background-color: #a76c34;
  border: none;
  border-radius: 25px;
  gap: 5px;
  color: aliceblue;
  font-family: "Playfair Display", sans-serif;
}
/* about section */

.about {
  height: 130vh;
  padding: 30px 40px 20px;
  background-color: rgb(228, 209, 192);
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
  /* align-items: center; */
}
.about-left h1 {
  color: #a76c34;
  font-size: 32px;
  font-weight: 300;
}
.explore h3 {
  /* color: #a76c34; */
  font-size: 24px;
  font-weight: 300;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.afrivista {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.afrivista h3 {
  color: #a76c34;
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
}
.about-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.about-left p {
  font-size: 16px;
  /* font-weight: 100; */
  letter-spacing: 0.1px;
  margin-top: 10px;
  /* line-height: 1.5; */
}
.about-right {
  position: relative;
}
.twobeach {
  position: absolute;
  top: 150px;
  left: 100px;
}
/* tour section */
.tour {
  /* height: 125vh; */
  background-image: url(./images/framer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 40px 40px;
  overflow: hidden;
}
.tour-container {
}
.tour-heading {
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
.tour-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.packages-card {
  background-color: rgba(64, 45, 26, 0.5);
  width: 246px;
  padding: 20px 20px 30px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(167, 108, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}
.packages-card h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.packages-card p {
  font-size: 12px;
  margin-top: 10px;
}
/* destinations */

.destination {
  /* height: 80vh; */
  padding: 30px;
  background-color: rgb(228, 209, 192);
}
.destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
.destination-container h1 {
  color: #a76c34;
  font-weight: 500;
  text-align: center;
}

.destination-btn {
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  margin-top: 30px;
}

.destination-btn input {
  display: none;
}
.destination-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
  padding: 10px 20px;
  background-color: rgb(228, 209, 192);
  border: 1px solid rgb(167, 108, 52);
  color: #a76c34;

  border-radius: 25px;
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
}

.destination-btn label:nth-child(3) {
  display: none;
}
.destination-btn label:nth-child(4) {
  display: none;
}
.destination-btn input:checked + span {
  background-color: #a76c34;
  color: aliceblue;
}

/* destination cards */
.destination-cards {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.desti-cards {
  width: 315px;
  height: 357px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f2e9e1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  flex: 0 0 auto;
}

.desti-cards:hover {
  transform: scale(1.01);
}
.desti-cards:nth-child(2),
.desti-cards:nth-child(3),
.desti-cards:nth-child(4) {
  display: none;
}
.card-content {
  padding: 15px;
}
.card-content h2 {
  color: #3a2612;
  font-size: 20px;
}
.card-content p {
  color: #3a2612;
  margin-block: 10px;
}
.card-content a {
  text-decoration: none;
  font-weight: 400;
  color: #3a2612;
  display: flex;
  gap: 5px;
  /* justify-content: center; */
  align-items: center;
}
/* gallery */

.gallery {
  /* height: 50vh; */
  padding: 20px;
  background-color: rgb(228, 209, 192);
}
.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gallery-container h1 {
  color: #a76c34;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-auto-rows: 45px;
  gap: 10px;
}
.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-images img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery-images img:nth-child(2) {
  grid-row: span 2;
}
.gallery-images img:nth-child(3) {
  grid-column: span 2;
  grid-row: span 4;
}
.gallery-images img:nth-child(10) {
  /* grid-column: span 2; */
  grid-row: span 2;
}
.gallery-images img:nth-child(11) {
  grid-column: span 2;
  grid-row: span 2;
}
/*  testimonial section */
.testimonial {
  /* height: 70vh; */
  padding: 30px;
  background-image: url(./images/gallery/Frame\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: cover; */
  color: white;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonial h1 {
  text-align: center;
}
.big-circle {
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  border-radius: 50%;
}

.testimonial p {
  text-align: center;
  font-size: 28px;
}
/* contact */
.contact {
  /* height: 80vh; */
  background-color: rgb(228, 209, 192);
}
.contact-container {
  padding: 40px 30px;
  /* display: flex; */
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #a76c34;
  font-weight: 500;
}
.contact-left {
  display: none;
}
.contact-right {
  background-color: #f2e9e1;
  padding: 20px;
  border-radius: 10px;
}
.tags {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  gap: 5px;
}
.contact-right label {
  font-size: 12px;
  color: #3a2612;
}
.contact-right input {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #b7bfc7;
}

.contact-right input::placeholder {
  color: #3a2612;
  font-family: "Playfair Display", sans-serif;
  font-weight: lighter;
  font-size: 16;
}

.contact-right h2 {
  font-size: 14px;
  color: #3a2612;
  margin-top: 20px;
}
.contact-right a {
  text-decoration: none;
  color: rgba(167, 108, 52);
}

/* infos */

.infos {
  /* height: 150vh; */
  background-image: url(./images/gallery/Frame\ last.png);
  /* linear-gradient(rgba(167, 108, 52, 0.6)),
    rgba(167, 108, 52, 0.6) */
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 50px;
}

.infos-container {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info-cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-cards p {
  font-size: 10px;
  color: #3a2612;
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.quick-links h1 {
  font-size: 20px;
  color: #3a2612;
}
.quick-links a {
  font-size: 16px;
  text-decoration: none;
  color: #3a2612;
}

.quick-links input {
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: transparent;
  border: 1px solid #3a2612;
  width: 100%;
  /* width: 200px; */
}

.quick-links input::placeholder {
  font-size: 16px;
  font-family: "Playfair Display", sans-serif;
}
.ded {
  display: flex;
}
.beb {
  background-color: #a76c34;
  padding: 10px 20px;
  border: 1px solid #3a2612;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-left-desktop {
  display: none;
}

/* TABLET MEDIA QUERY */

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-container {
    width: 768px;
    background-color: rgba(20, 25, 25, 0.2);
    backdrop-filter: blur(8px);
    height: 49px;
    border-radius: 70px;
    padding: 20px 30px;
  }

  .hero {
    display: flex;
    justify-content: center;
    background-image: url(./images/Rectangle\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  .hero-container {
    width: 768px;
  }

  .hero-right h1 {
    font-size: 48px;
    margin-bottom: 20px;
    width: 350px;
    line-height: 1.5;
  }
  .hero-right h2 {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .hero-right p {
    width: 100%;
    /* text-align: justify; */
    line-height: 2;
  }

  /* about page */
  .about {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .about-container {
    padding-top: 40px;
    width: 768px;
    display: flex;
    /* justify-content: center; */
  }
  .about-left h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .explore {
    display: flex;
    align-items: center;
  }
  .explore h3 {
    width: auto;
    flex: 0 0 auto;
  }
  .afrivista {
    align-items: end;
    flex: 0 0 auto;
  }
  .about-left p {
    width: 100%;
    /* text-align: justify; */
    line-height: 1.5;
  }

  .about-right {
    padding: 40px;
    display: flex;
    justify-content: start;
    /* padding-left: 100px; */
  }
  .manHat {
    width: 331px;
    height: 365px;
    /* position: absolute;
    left: 50%;
    transform: translate(-80%); */
  }
  .twobeach {
    width: 351px;
    height: 290px;
    top: 220px;
    left: 50%;
    transform: translate(-30%);
  }

  /* tour section */
  .tour {
    /* height: 105vh; */
    background-image: url(./images/framer\ big.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }
  .tour-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 30px;
  }
  .tour-cards {
    gap: 30px;
  }
  .packages-card {
    flex: 0 0 auto;
  }

  /* destination */
  .destination {
    /* height: 60vh; */
  }
  .destination-cards {
    gap: 30px;
  }
  .destination-btn label:nth-child(3) {
    display: block;
  }

  .desti-cards:nth-child(4) {
    display: block;
  }
  /* gallery */
  .gallery {
    display: flex;
    justify-content: center;
    /* height: 55vh; */
  }
  .gallery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gallery-images {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-auto-rows: 75px;
    gap: 15px;
  }
  .gallery-images img {
    border-radius: 8px;
  }
  /* testimonial section */

  .testimonial {
    /* height: 60vh; */
    position: relative;
    overflow: hidden;
    background-image: none;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .testimonial::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(images/gallery/Frame\ 37.png);
    filter: blur(10px);
    transform: scale(1.1);
    background-size: cover;
    z-index: -1;
  }
  .big-circle {
    width: 120px;
    height: 120px;
  }
  .testimonial-container {
    gap: 50px;
    margin-top: 40px;
  }

  /* contact */
  .contact {
    display: flex;
    justify-content: center;
    /* height: 60vh; */
  }
  .contact-container {
    padding-top: 40px;
    padding-bottom: 60px;
    flex: 0 0 auto;
    width: 765px;
  }

  .contact-left {
    display: none;
  }

  .contact-right {
    width: 100%;
    flex: 0 0 auto;
  }
  /* info */

  .infos {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
  }

  .infos-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: space-around;
  }

  .quick-links {
    flex: 0 0 auto;
  }
  .quick-links:nth-child(5) {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .nav-container {
    width: 992px;
    height: 65px;
    justify-content: space-between;
  }

  .nav-left {
    display: none;
  }
  .nav-left-desktop {
    display: flex;
    gap: 20px;
    font-size: 14px;
    justify-items: center;
    align-items: center;
  }

  .nav-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background-color: #a76c34;
    border: none;
    border-radius: 25px;
    gap: 5px;
    color: aliceblue;
    font-family: "Playfair Display", sans-serif;
  }
  .nav-left-desktop a {
    text-decoration: none;
    color: white;
  }
  /* hero section */

  .hero-container {
    width: 992px;
    overflow: visible;
  }
  .hero-right {
    width: 70%;
  }
  .hero-right h2,
  .hero-right p {
    width: 80%;
    text-align: left;
  }
  .hero-right h1 {
    width: 100%;
  }

  /* about */
  .about {
    /* justify-content: start;
    align-items: start; */
    height: 90vh;
  }

  .about-container {
    /* overflow: visible; */
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 992px;
    /* overflow: hidden; */
  }

  .about-left {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  .about-left p {
    text-align: start;
    width: 100%;
  }

  .about-right {
    /* flex: 0 0 auto; */
    width: 50%;
  }

  /* tour  */

  .tour-container {
    width: 992px;
    justify-content: center;
    align-items: center;
    padding-block: 80px;
  }
  .tour-cards {
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
  }

  .packages-card:hover {
    transform: scale(1.05);
  }

  /* destination */
  .destination {
    display: flex;
    justify-content: center;
  }

  .desti-cards {
    scale: 0.9;
  }

  .destination-cards {
    gap: 0px;
  }
  .destination-container {
    width: 992px;
  }
  .destination-btn label:nth-child(4) {
    display: block;
  }

  .desti-cards:nth-child(2),
  .desti-cards:nth-child(3) {
    display: block;
  }

  .desti-cards:nth-child(4) {
    display: none;
  }

  /* gallery */

  .gallery-container {
    width: 992px;
    padding-bottom: 60px;
  }
  .gallery-images {
    grid-template-columns: repeat(7, 120px);
    grid-auto-rows: 104px;
  }

  /* testimonial */

  .testimonial-container {
    width: 992px;
    padding-bottom: 50px;
  }
  /* contact */
  .contact-container {
    width: 992px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .im-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact-left {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .con-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactImg {
    transform: scale(0.6);
  }
  form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0;
  }
  .tags:nth-child(1) {
    width: 48%;
  }
  .tags:nth-child(2) {
    width: 49%;
  }
  .tags {
    width: 100%;
  }
  .hero-btn {
    width: 100%;
  }
  .form a {
    width: 100%;
  }

  /* infos */
  .infos-container {
    width: 992px;
  }
}

@media (min-width: 1280px) {
  .nav-container {
    width: 1280px;
  }
  .hero-container {
    width: 1280px;
  }
  .about-container {
    width: 1280px;
  }
  .tour-container {
    width: 1280px;
  }

  .destination-container {
    width: 1280px;
  }
  .desti-cards {
    scale: 0.9;
  }
  .destination-cards {
    gap: 5px;
  }
  .desti-cards:nth-child(4) {
    display: block;
  }
  .gallery-container {
    width: 1280px;
  }
  .gallery-images {
    grid-template-columns: repeat(7, 165px);
    grid-auto-rows: 154px;
  }
  .testimonial-container {
    width: 1280px;
    padding-bottom: 50px;
  }
  /* contact */
  .contact-container {
    width: 1280px;
    gap: 50px;
  }
  .contactImg {
    transform: scale(0.8);
  }
  /* infos */
  .infos-container {
    width: 1280px;
  }
}
